@import url(http://fonts.googleapis.com/css?family=Abel:400|Amiri:400,700);

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #3a3a3a;
}

video {
    height: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#rootContainer {
    height: 100%;
    width: 100%;
    margin: 0px;

    position: absolute;
    top 0px;
    left: 0px;

    overflow: hidden;

    text-align: center;
}

.contentBuffer {
    display: inline-block;
    height: 100%;
    vertical-align: top;

    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0px 0px 20px #000;
}

.timer {
    bottom: 0px;
    height: 5px;
    width: 100%;

    z-index: 2;

    background-color: #fff;
    opacity: 0.5;

    -webkit-transition: width 0s, -webkit-transform;
    transition: width 0s, transform 0s;
}

.button {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 6px;
    right: 6px;

    margin: 0px;

    opacity: 0.7;

    z-index: 5; /* Always keep this guy on top */
    background-color: #fff;

    /*
    -moz-box-shadow: 0 0 7px #000;
    -webkit-box-shadow: 0 0 7px #000;
    box-shadow: 0px 0px 7px #000;
    */

    font-family: 'Abel', sans-serif;
    font-weight: 900;
    font-size: 12pt;
    color: #000;
}

.button:hover {
    opacity: 1.0;
}

.interior {
    position: relative;

    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    text-align: center;
}

#aboutContainer {
/*
 * Centers this horizontally and vertically
    position: relative;
    top: 50%;
    height: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    margin-left: auto;
    margin-right: auto;
*/

    position: absolute;
    bottom: 5px;
    right: 5px;

    height: 25%;
    min-height: 180px;

    width: 30%;
    min-width: 350px;

    background-color: #fff;

    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0px 0px 20px #000;
}

.thickBorder {
    border: 4px solid #000;
}

.initializeHidden {
    display: none;
}

.aboutText {
    line-height: 100%;
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-size 12pt;
    color: #555;

    margin-left: 5px;
    margin-right: 5px;
}

.aboutTitle {
    display: inline-block;
    font-family: 'Amiri', serif;
    font-weight: 700;
    font-size: 14pt;
    margin-top: 5px;
}

.aboutSubtitle {
    display: inline-block;
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-size: 12pt;
    color: #888;
}

.homeLink {
    text-decoration: none;
    color: inherit;
}

.homeLink:hover {
    color: #933;
}
